<p-table #dt [columns]="cols" [value]="rooms" [paginator]="true" [rows]="10" (onRowSelect)="onSelectedRoom($event)">
	<ng-template pTemplate="caption">
		<div class="p-grid">
			<div class="p-col-6">
				<input type="text" pInputText size="50" placeholder="Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:100%">
			</div>
		</div>
	</ng-template>
	<ng-template pTemplate="header" let-columns>
		<tr>
			<th *ngFor="let col of columns">
				{{col.header}}
			</th>
			<th>Option(s)</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-rowData let-columns="columns">
		<tr [pSelectableRow]="rowData">
			<td *ngFor="let col of columns">
				{{rowData[col.field]}}
			</td>
			<td>
				<ul class="rooms-list-options">
					<li><button type="button" pTooltip="Add Room Feature" tooltipPosition="top" pButton icon="pi pi-plus" (click)="showDialog(1, rowData.roomId)"></button></li>
					<li><button type="button" pTooltip="View Info" tooltipPosition="top" pButton icon="pi pi-search" (click)="showDialog(2, rowData.roomId)"></button></li>
				</ul>
			</td>
		</tr>
	</ng-template>
</p-table>

<p-dialog header="Room Details" [(visible)]="addDlg" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '420px'}">
	<app-addroom (onsave)="save()"></app-addroom>
</p-dialog>

<p-dialog header="Room Feature" [(visible)]="addRmFeatureDlg" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '420px'}">
	<app-addroomfeatures (onsave)="save()" [roomId]="roomId"></app-addroomfeatures>
</p-dialog>

<p-dialog header="Room Info" [(visible)]="viewRmInfoDlg" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '700px'}">
	<app-roominfo></app-roominfo>
</p-dialog> 