<app-sidebar></app-sidebar>
<!-- <app-header></app-header> -->
<div id="main-content">
    <app-header></app-header>
    <div id="inner-content">
        <router-outlet></router-outlet>
    </div>
</div>
<!-- <div class="ui-g">
    <div class="ui-g-3">
        <app-properties
            [properties]="properties"
            (SelectedProperty)="onSelectedProperty($event)"
            (NewProperty)="onNewProperty()"
            (SelectModules)="onNavigateToComponent($event)">
        </app-properties>
    </div>
    <div class="ui-g-9">
        <router-outlet></router-outlet>
    </div>
</div> -->