<div id="login-container">
	<p-toast position="top-center"></p-toast>
  <div class="logo">
    <img src="assets/img/realestate.png"/>
  </div>
  <form #form="ngForm" (ngSubmit)="login()">
    <input type="text" placeholder="Email" pInputText [(ngModel)]="user.Email" name="username" id="username" class="full-width"/>
    <input type="password" placeholder="Password" pInputText [(ngModel)]="user.Password" name="password" id="password" class="full-width"/>
    <button pButton type="submit" label="Login" class="full-width"></button>
	</form>
	<div style="width: 100%; text-align: center;" *ngIf="!spinnerHidden">
		<p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
	</div>
  <div class="registration">
    <p>Don't have an account yet? <a href="#">Register</a></p>
  </div>
</div>