<p-table #dt [columns]="cols" [value]="renters" [paginator]="true" [rows]="10">
	<ng-template pTemplate="caption">
		<div class="p-grid">
			<div class="p-col-6">
				<input type="text" pInputText size="50" placeholder="Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:100%">
			</div>
		</div>
	</ng-template>
	<ng-template pTemplate="header" let-columns>
		<tr>
			<th *ngFor="let col of columns">
				{{col.header}}
			</th>
			<th>Status</th>
			<th>Option(s)</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-rowData let-columns="columns">
		<tr [pSelectableRow]="rowData">
			<td *ngFor="let col of columns">
				{{rowData[col.field]}}
			</td>
			<td>
				<p class="not-checkedIn" *ngIf="rowData.checkIn === null">Not Checked In</p>
				<p class="checkedIn" *ngIf="rowData.checkIn !== null">Checked In</p>
			</td>
			<td>
				<ul class="rooms-list-options">
					<li><button type="button" pTooltip="View Info" tooltipPosition="top" pButton icon="pi pi-search" (click)="showDialog(1, rowData.id, 0)"></button></li>
					<li *ngIf="rowData.checkIn === null"><button type="button" pTooltip="Checkin" tooltipPosition="top" pButton class="ui-button-success" icon="pi pi-check" (click)="showDialog(2, rowData.id, 0)"></button></li>
					<li *ngIf="rowData.checkIn !== null"><button type="button" pTooltip="Checkout" tooltipPosition="top" pButton class="ui-button-danger" icon="pi pi-times" (click)="showDialog(3, rowData.id, rowData.roomId)"></button></li>
				</ul>
			</td>
		</tr>
	</ng-template>
</p-table>

<p-toast position="top-center"></p-toast>

<p-dialog header="Checkin Details" [(visible)]="checkinDlg" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '420px'}">
	<app-checkin [renterId]="renterId" (onSave)="onSave(2)"></app-checkin>
</p-dialog>

<p-dialog header="Renter Details" [(visible)]="renterInfoDlg" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '420px'}">
	<app-renterinfo></app-renterinfo>
</p-dialog>

<!--@onLoad-->
<!-- <div>
  <div class="form-group form-styles-margin">
    <span class="ui-float-label">
    </span>
  </div>
  <div class="form-group form-styles-margin">
    <span class="ui-float-label">
      <div *ngIf="rentersEmpty; then noRenters else renterList"></div>
      <ng-template #renterList>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Contact No</th>
              <th>Profession</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let renter of renters">
              <td>{{renter.name}}</td>
              <td>{{renter.contactNo}}</td>
              <td>{{renter.profession}}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
      <ng-template #noRenters>
        <p class="no-renters">{{msg}}</p>
      </ng-template>
    </span>
  </div>
</div> -->