<form #form="ngForm" (ngSubmit)="addRoomType()" id="addRoomTypeForm">
	<p-toast position="top-center"></p-toast>
	<div class="form-group form-styles-margin">
    <span class="ui-float-label">
      <input pInputText id="roomtype" name="roomtype" #roomtype="ngModel" class="full-width" [(ngModel)]="room.Type" required/>
      <label for="float-input">Room Type</label>
    </span>
	</div>
	<div class="form-group form-styles-margin">
    <span class="ui-float-label">
      <input pInputText type="number" id="price" name="price" #price="ngModel" class="full-width" [(ngModel)]="room.Price" required/>
      <label for="float-input">Price</label>
    </span>
	</div>
	<div class="form-group form-styles-margin">
    <span class="ui-float-label">
      <input pInputText type="number" id="monthAdv" name="monthAdv" #madv="ngModel" class="full-width" [(ngModel)]="room.MonthsAdvance" required/>
      <label for="float-input">Months Advance</label>
    </span>
	</div>
	<div class="form-group form-styles-margin">
    <span class="ui-float-label">
      <input pInputText type="number" id="monthDep" name="monthDep" #mdep="ngModel" class="full-width" [(ngModel)]="room.MonthsDeposit" required/>
      <label for="float-input">Months Deposit</label>
    </span>
	</div>
	<p-footer>
		<div class="ui-dialog-buttonpane ui-helper-clearfix">
			<!-- <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button> -->
			<button type="submit" pButton icon="pi pi-check" pTooltip="Add" [disabled]="!form.valid" label="Save" class="full-width"></button>
		</div>
	</p-footer>
</form>