<form #form="ngForm" (ngSubmit)="addFeature()">
	<p-toast position="top-center"></p-toast>
	<div class="ui-g ui-fluid">
		<div class="ui-g-12">
			<div class="ui-g-4">
				<label for="vin">Feature</label>
			</div>
			<div class="ui-g-8">
				<input type="text" placeholder="Feature Name" pInputText [(ngModel)]="roomFeature.name" name="featurename" class="full-width" required/>
			</div>
		</div>
	</div>
  <button pButton type="submit" label="Add" icon="pi pi-check" [disabled]="!form.valid" class="full-width"></button>
</form>