<form #form="ngForm" (ngSubmit)="checkinRenter()">
	<p-toast position="top-center"></p-toast>
  <div class="form-group form-styles-margin">
    <span class="ui-float-label">
			<p-dropdown [options]="rooms" styleClass="full-width" name="selectedRoom" [(ngModel)]="selectedRoom" name="selectedRoom" placeholder="Select Room" optionLabel="roomName" required></p-dropdown>
    </span>
	</div>
  <div class="form-group">
    <button pButton type="submit" label="Add" [disabled]="!form.valid" class="full-width"></button>
  </div>
</form>