<p-menubar [model]="items">
</p-menubar>
<div class="sub-inner-content">
	<router-outlet></router-outlet>
</div>

<!-- <p-card header="Rooms">
	<app-roomslist (onAddFeature)="addFeature($event)" (onViewInfo)="viewInfo($event)"></app-roomslist>
</p-card> -->