<p-table #dt [columns]="cols" [paginator]="true" [rows]="10">
	<ng-template pTemplate="caption">
		<div class="p-grid">
			<div class="p-col-6">
				<button type="button" pTooltip="Add Room" tooltipPosition="top" pButton icon="pi pi-plus" style="float: left" (click)="showDialog(0)" label="Checkin Renter"></button>
			</div>
			<div class="p-col-6">
				<input type="text" pInputText size="50" placeholder="Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:100%">
			</div>
		</div>
	</ng-template>
	<ng-template pTemplate="header" let-columns>
		<tr>
			<th *ngFor="let col of columns">
				{{col.header}}
			</th>
			<th>Option(s)</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-rowData let-columns="columns">
		<tr [pSelectableRow]="rowData">
			<td *ngFor="let col of columns">
				{{rowData[col.field]}}
			</td>
			<td>
				<ul class="rooms-list-options">
					<li><button type="button" pTooltip="View Info" tooltipPosition="top" pButton icon="pi pi-search" (click)="showDialog(1, rowData.id)"></button></li>
				</ul>
			</td>
		</tr>
	</ng-template>
</p-table>