<p-card header="Property Info">
	<div class="p-grid">
    <div class="p-col-4">
			<h1 class="label-header">{{propInfo.name}}</h1>
			<img src="{{image}}" class="prop-img">
		</div>
    <div class="p-col-4">
			<div class="prop-info-container">
				<label class="label-header">Property Name</label><br>
				<p class="label-content">{{propInfo.name}}</p>
			</div>
			<div class="prop-info-container">
				<label class="label-header">Address</label><br>
				<p class="label-content">{{propInfo.address}}</p>
			</div>
			<div class="prop-info-container">
				<label class="label-header">Contact No</label><br>
				<p class="label-content">{{propInfo.contactNo}}</p>
			</div>
			<div class="prop-info-container">
				<label class="label-header">Total Rooms</label><br>
				<p class="label-content">{{propInfo.totalRooms}}</p>
			</div>
		</div>
    <div class="p-col-4">
			Google Map Here
		</div>
	</div>
</p-card>