<form #form="ngForm" (ngSubmit)="addRenter()">
	<p-toast position="top-center"></p-toast>
  <div class="form-group form-styles-margin">
    <span class="ui-float-label">
      <!-- <app-propertyselector (SelectProperty)="selectedProperty($event)"></app-propertyselector> -->
    </span>
  </div>
  <div class="form-group form-styles-margin">
    <span class="ui-float-label">
      <input type="text" size="30" name="name" class="full-width" [(ngModel)]="renter.name" required pInputText>
      <label for="float-input">Name</label>
    </span>
	</div>
	<div class="form-group form-styles-margin">
    <span class="ui-float-label">
      <input type="email" size="30" name="email" class="full-width" [(ngModel)]="renter.email" required pInputText>
      <label for="float-input">Email</label>
    </span>
  </div>
  <div class="form-group form-styles-margin">
    <span class="ui-float-label">
      <input type="text" size="30" name="contactno" class="full-width" [(ngModel)]="renter.contactNo" required pInputText>
      <label for="float-input">Contact No</label>
    </span>
  </div>
  <div class="form-group form-styles-margin">
    <span class="ui-float-label">
      <input type="text" size="30" name="address" class="full-width" [(ngModel)]="renter.address" required pInputText>
      <label for="float-input">Address</label>
    </span>
  </div>
  <div class="form-group form-styles-margin">
    <span class="ui-float-label">
      <input type="text" size="30" name="profession" class="full-width" [(ngModel)]="renter.profession" required pInputText>
      <label for="float-input">Profession</label>
    </span>
	</div>
  <div class="form-group">
    <button pButton type="submit" label="Add" [disabled]="!form.valid" class="full-width"></button>
  </div>
</form>