<div class="p-grid">
	<div class="p-col-12">
		<app-propertyinfo></app-propertyinfo>
	</div>
	<div class="p-col-3">
		<app-totalrenters></app-totalrenters>
	</div>
	<div class="p-col-3">
		<app-renterdue></app-renterdue>
	</div>
	<div class="p-col-3">
		<app-occupiedbeds></app-occupiedbeds>
	</div>
	<div class="p-col-3">
		<app-vacantbeds></app-vacantbeds>
	</div>
</div>
<!-- <h1>Total Renters, Renters due for the month, Total Occupied Beds, Total Vacant Beds</h1> -->