<p-dataView #dv [value]="properties" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="name,address" [styleClass]="search-property">
	<p-header>
		<div class="ui-helper-clearfix">
			<div class="ui-g">
				<div class="ui-g-7 ui-md-7 filter-container">
					<div style="position:relative">
						<input type="search" pInputText placeholder="Search Property" (keyup)="dv.filter($event.target.value)">
					</div>
				</div>
				<div class="ui-g-5 ui-md-5" style="text-align: right;">
					<button pButton type="button" icon="pi pi-refresh" pTooltip="Refresh" tooltipPosition="top" (click)="refresh()" style="margin-bottom: 5px; margin-right: 3px;"></button>
					<button pButton type="button" icon="pi pi-plus" pTooltip="New Property" tooltipPosition="top" (click)="onNewProperty()" style="margin-bottom: 5px; margin-right: 3px;"></button>
				</div>
			</div>
		</div>
	</p-header>
	<ng-template let-property pTemplate="listItem">
		<div class="ui-g-12 property-list">
			<a routerLink="{{property.id}}">
				<div class="ui-g">
					<div class="ui-g-12"><b>{{property.name}}</b></div>
					<div class="ui-g-12"><b>{{property.address}}</b></div>
				</div>
			</a>
		</div>
	</ng-template>
</p-dataView>