<div class="sub-navbar">
  <ul>
    <li *ngFor="let item of items">
      <a [routerLink]="item.routerLink">
        {{item.label}}
      </a>
    </li>
  </ul>
</div>
<div class="sub-main-content">
	<router-outlet></router-outlet>
</div>