<!-- <app-roomtypes></app-roomtypes> -->
<div class="ui-g">
    <div class="ui-g-3">
        <ul class="secondary-nav">
            <li><a [routerLink]="['./add']">Add Room Type</a></li>
            <li><a [routerLink]="['./list']">View Room Types</a></li>
        </ul>
    </div>
    <div class="ui-g-9">
      <router-outlet></router-outlet>
    </div>
</div>