<p-card header="Room Types">
	<p-table [columns]="cols" [value]="roomTypes" selectionMode="single" [(selection)]="selectedRoomType" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
		<ng-template pTemplate="header" let-columns>
			<tr>
				<th *ngFor="let col of columns" [pSortableColumn]="col.field">
					{{col.header}}
					<p-sortIcon [field]="col.field"></p-sortIcon>
				</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-rowData let-columns="columns">
			<tr [pSelectableRow]="rowData">
				<td *ngFor="let col of columns">
					{{rowData[col.field]}}
				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="summary" let-rowData>
		</ng-template>
	</p-table>
</p-card>

<p-dialog header="Edit Room Type" [(visible)]="edtDlg" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '420px'}">
	<app-editroomtype [roomType]="selectedRoomType" (save)="updateRmType()"></app-editroomtype>
</p-dialog>