<div class="sub-main-content">
	<form #form="ngForm" (ngSubmit)="addProperty()" id="addPropertyForm">
		<p-toast position="top-center"></p-toast>
		<div class="form-group form-styles-margin">
			<span class="ui-float-label">
				<input type="text" class="full-width custom-text-field" size="30" name="property" id="property" #property="ngModel" #property [(ngModel)]="model.Name" pInputText required>
				<label for="float-input">Property Name</label>
			</span>
			<div *ngIf="property.invalid && (property.dirty || property.touched)" class="alert alert-danger"></div>
		</div>
		<div class="form-group form-styles-margin">
			<span class="ui-float-label">
				<input type="text" class="full-width custom-text-field" size="30" name="address" id="address" #address="ngModel" [(ngModel)]="model.Address" pInputText required>
				<label for="float-input">Address</label>
			</span>
			<div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger"></div>
		</div>
		<div class="form-group form-styles-margin">
			<span class="ui-float-label">
				<input type="text" class="full-width custom-text-field" size="30" name="city" id="city" #city="ngModel" [(ngModel)]="model.City" pInputText required>
				<label for="float-input">City</label>
			</span>
			<div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger"></div>
		</div>
		<div class="form-group form-styles-margin">
			<span class="ui-float-label">
				<input type="text" class="full-width custom-text-field" size="30" name="contact" id="contact" #contact="ngModel" [(ngModel)]="model.ContactNo" pInputText required>
				<label for="float-input">Contact No</label>
			</span>
			<div *ngIf="contact.invalid && (contact.dirty || contact.touched)" class="alert alert-danger"></div>
		</div>
		<div class="form-group form-styles-margin">
			<span class="ui-float-label">
				<input type="number" class="full-width custom-text-field" size="30" name="rooms" id="rooms" #rooms="ngModel" [(ngModel)]="model.TotalRooms" pInputText required>
				<label for="float-input">Total Rooms</label>
			</span>
			<div *ngIf="rooms.invalid && (rooms.dirty || rooms.touched)" class="alert alert-danger"></div>
		</div>
		<div class="form-group">
			<button pButton type="submit" [disabled]="!form.valid" label="Add" class="full-width"></button>
		</div>
	</form>
</div>