<div class="roominfo-container">
	<h3 class="roominfo-label-header">General info</h3>
	<div class="p-grid roominfo-sections">
		<div class="p-col-4">
			<div class="prop-info-container">
				<label class="roominfo-label-header">Property Name</label><br>
				<p>{{room.roomName}}</p>
			</div>
			<div class="prop-info-container">
				<label class="roominfo-label-header">Total Beds</label><br>
				<p>{{room.totalBeds}}</p>
			</div>
		</div>
		<div class="p-col-4">
			<div class="prop-info-container">
				<label class="roominfo-label-header">Room Type</label><br>
				<p>{{room.roomTypeName}}</p>
			</div>
			<div class="prop-info-container">
				<label class="roominfo-label-header">Occupied Beds</label><br>
				<p>{{room.occupiedBeds}}</p>
			</div>
		</div>
		<div class="p-col-4">
			<div class="prop-info-container">
				<label class="roominfo-label-header">Price</label><br>
				<p>{{room.price}}/Month</p>
			</div>
		</div>
	</div>
</div>
<div class="roominfo-container">
	<h3 class="roominfo-label-header">Terms</h3>
	<div class="p-grid roominfo-sections">
		<div class="p-col-4">
			<div class="prop-info-container">
				<label class="roominfo-label-header">Months Advance</label><br>
				<p>{{room.monthsAdvance}}</p>
			</div>
		</div>
		<div class="p-col-4">
			<div class="prop-info-container">
				<label class="roominfo-label-header">Months Deposit</label><br>
				<p>{{room.monthsDeposit}}</p>
			</div>
		</div>
		<div class="p-col-4">
		</div>
	</div>
</div>
<div class="roominfo-container" *ngIf="room.features !== null">
	<h3 class="roominfo-label-header">Features</h3>
	<div class="p-grid roominfo-sections">
		<ul class="room-features">
			<li *ngFor="let feature of room.features">{{feature}}</li>
		</ul>
	</div>
</div>