<div class="ui-g">
    <div class="ui-g-3">
        <ul class="secondary-nav">
            <li><a [routerLink]="['./add']">Add Room</a></li>
            <li><a [routerLink]="['./list']">View Rooms</a></li>
            <li><a [routerLink]="['./feature/add']">Add Room Feature</a></li>
            <li><a [routerLink]="['./features']">View Room Feature(s)</a></li>
        </ul>
    </div>
    <div class="ui-g-9">
      <router-outlet></router-outlet>
    </div>
</div>

<!-- <div class="ui-g">
    <div class="ui-g-3">
        <app-roomslist></app-roomslist>
        <app-roomfeatures></app-roomfeatures>
    </div>
    <div class="ui-g-9">
        <router-outlet></router-outlet>
    </div>
</div> -->