<div id="header-container">
  <div class="header-title">
    <!-- <a [routerLink]="['']">HOME</a> -->
    <h2>Real Estate Rentals</h2>
  </div>
  <div class="header-logout">
    <button pButton label="Logout" (click)="logout()"></button>
  </div>
</div>