<form #form="ngForm" (ngSubmit)="addRoom()">
	<p-toast position="top-center"></p-toast>
	<div class="form-group form-styles-margin">
    <span class="ui-float-label">
      <input pInputText class="full-width" id="roomname" name="roomname" #roomname="ngModel" [(ngModel)]="room.Name" required/>
      <label for="float-input">Room Name</label>
    </span>
	</div>
	<div class="form-group form-styles-margin">
    <span class="ui-float-label">
      <input pInputText class="full-width" type="number" id="totalbeds" name="totalbeds" #totalBeds="ngModel" [(ngModel)]="room.TotalBeds" required/>
      <label for="float-input">Total Beds</label>
    </span>
	</div>
	<div class="form-group form-styles-margin">
    <span class="ui-float-label">
      <p-dropdown [options]="roomTypes" styleClass="full-width" [(ngModel)]="selectedRoomType" name="selectedRoomType" placeholder="Select room type" optionLabel="type" required></p-dropdown>
    </span>
	</div>
	<p-footer>
		<div class="ui-dialog-buttonpane ui-helper-clearfix">
			<!-- <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button> -->
			<button type="submit" pButton icon="pi pi-check" [disabled]="!form.valid" label="Save" class="full-width"></button>
		</div>
	</p-footer>
</form>