<p-tabMenu [model]="items" [activeItem]="activeItem">
</p-tabMenu>
<div style="padding: 0.5em;">
  <router-outlet></router-outlet>
</div>
<!-- <div class="property-detail-container">
  <div class="content-container">
    <h2>Property Details</h2>
    <div class="separator"></div>
    <app-propertydetails [Image]="propertyImg" [PropertyInfo]="propertyModel"></app-propertydetails>
  </div>
  <div class="content-container">
    <h2>Statistics</h2>
    <div class="separator"></div>
    <app-statistic></app-statistic>
  </div>
  <div class="content-container">
    <h2>Rooms/Room Types</h2>
    <div class="separator"></div>
    <app-roomslist></app-roomslist>
  </div>
</div> -->