<div class="renterinfo-container">
	<div class="p-grid">
		<div class="p-col-12">
			<div class="prop-info-container">
				<label class="roominfo-label-header">Name</label><br>
				<p>{{renter.name}}</p>
			</div>
			<div class="prop-info-container">
				<label class="roominfo-label-header">Contact No.</label><br>
				<p>{{renter.contactNo}}</p>
			</div>
			<div class="prop-info-container">
				<label class="roominfo-label-header">Address</label><br>
				<p>{{renter.address}}</p>
			</div>
			<div class="prop-info-container">
				<label class="roominfo-label-header">Profession</label><br>
				<p>{{renter.profession}}</p>
			</div>
		</div>
	</div>
</div>