/* GENERAL STYLE(S) */
body {
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

input[name="username"],
input[name="password"],
input[name="projectname"],
button[type="submit"] {
    margin-bottom: 5px;
}

.full-width {
  width: 100% !important;
}

.custom-text-field {
	height: 40px;
	border-radius: 0 !important;
}

.clearfix {
  overflow: auto;
}

.info-container {
	margin-bottom: 10px;
}
/* END */



/* LOGIN STYLE */
#login-container {
    width: 300px;
    margin: 100px auto 0 auto;
}

.logo {
    width: 160px;
    margin: 0 auto;

    img {
        width: 160px;
        height: 160px;
    }
}

.registration {
    width: inherit;

    p {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}
/* END */



/* HEADER STYLE */
#header-container {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid lightgray;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);

	.header-title {
			float: left;

			h2 {
					margin: 7px 0 0 50px;
					font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
					font-size: 30px;
			}
	}

	.header-logout {
			float: right;

			button {
					margin-right: 10px;
					margin-top: 13px;
			}
	}
}
/* END */



/* SIDEBAR STYLE */
#sidebar {
		position: absolute;
		z-index: 5;
    width: 292px;
    height: 100%;
    top: 0;
    left: 0;
		background-color: #f4f4f4;
		border-right: 1px solid #f4f4f4;
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);

    ul {
			padding: 0;
			margin: 0;
			list-style-type: none;

			li {
				padding: 12px;

				a {
					padding: 11px !important;
					font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
					color: #ffffff;
				}
			}

			li:hover {
				background-color: #323333;
				cursor: pointer;
			}
    }
}

.sub-navbar {
	// position: absolute;
	// z-index: 4;
	width: 100%;
	height: 50px;
	// top: 60px;
	// left: 292px;
	background-color: #ffffff;
	margin-top: 1px;

	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
		display: inline;

		li {
			padding: 12px;
			float: left;

			a {
				padding: 11px !important;
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
				color: black;
			}
		}
	}

}

.ui-corner-top {
	border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.search-property {
	position: fixed;
	width: 292px;
	top: 0;
	left: 0;
	border-radius: 0 !important;
}
/* END */



/* MAIN CONTENT STYLE */
.main-content {
	margin-left: 292px;
}

.sub-main-content {
	// margin-left: 200px;
	padding: 20px;
}

#inner-content {
  padding: 10px;
}

.sub-inner-content {
	margin-top: 10px;
}
/* END */



/* MAIN OUTLET CONTAINER */
.property-detail-container {
    width: 100%;
}

.content-container {
    width: 100%;

    h2 {
        margin: 0;
    }

    .separator {
        height: 1px;
        background-color: lightgray;
    }
}

.child-contents {
    margin: 5px;
}
/* END */



/* SECONDARY NAVIGATION */
ul.secondary-nav {
    padding: 0;
    margin: 0em;

    li {
        display: block;
        padding: 10px;

        a {
            padding: 10px;
        }
    }
}
/* END */



/* DATA VISUALIZATION STYLES */
.chart-container {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
/* END */



/* FORM STYLES */
.form-styles-margin {
    margin-top: 20px;
    margin-bottom: 10px;
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}
/* END */



/* PROPERTIES STYLES */
.property-list {
	border-bottom: 1px solid #d9dad9;
	padding: 0;
}
/*  END */



/* PROPERTY INFO STYLES */
.prop-img {
	width: 30rem;
}

.header-name {
	margin-top: 0;
}

.label-header {
	font-size: 20px;
	font-weight: bold;
}

.label-content {
	font-size: 18px;
}

.prop-info-container {
	width: 100%;
	margin-bottom: 15px;
}
/* END */



/* ROOM STYLES */
ul.rooms-list-options {
	list-style-type: none;
	margin-top: 0;
	padding: 0;

	li {
		float: left;
		margin-right: 5px;
	}
}

.roominfo-container {
	width: 100%;
	height: auto;
}

.roominfo-sections {
	border-top: 1px solid #d9dad9;
}

.roominfo-label-header {
	font-size: 18px;
	font-weight: bold;
}

ul.room-features {
	margin-top: 0;
}
/* END */



/* RENTER STYLES */
.renterinfo-container {
	margin-bottom: 15px;
}

.checkedIn {
	color: green;
	font-weight: bold;
	text-align: center;
}

.not-checkedIn {
	color: red;
	font-weight: bold;
	text-align: center;
}
/* END */