<form #form="ngForm" (ngSubmit)="updateRoomType()" id="editRoomTypeForm">
	<p-toast position="top-center"></p-toast>
	<div class="ui-g ui-fluid">
		<div class="ui-g-12">
			<div class="ui-g-4">
				<label for="vin">Room Type</label>
			</div>
			<div class="ui-g-8">
				<input pInputText id="roomtype" name="roomtype" #roomtype="ngModel" [(ngModel)]="roomType.type" required/>
			</div>
		</div>
		<div class="ui-g-12">
			<div class="ui-g-4">
				<label for="year">Price</label>
			</div>
			<div class="ui-g-8">
				<input pInputText type="number" id="price" name="price" #price="ngModel" [(ngModel)]="roomType.price" required/>
			</div>
		</div>
		<div class="ui-g-12">
			<div class="ui-g-4">
				<label for="brand">Months Advance</label>
			</div>
			<div class="ui-g-8">
				<input pInputText type="number" id="monthAdv" name="monthAdv" #madv="ngModel" [(ngModel)]="roomType.monthsAdvance" required/>
			</div>
		</div>
		<div class="ui-g-12">
			<div class="ui-g-4">
				<label for="color">Months Deposit</label>
			</div>
			<div class="ui-g-8">
				<input pInputText type="number" id="monthDep" name="monthDep" #mdep="ngModel" [(ngModel)]="roomType.monthsDeposit" required/>
			</div>
		</div>
	</div>
	<p-footer>
		<div class="ui-dialog-buttonpane ui-helper-clearfix">
			<!-- <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button> -->
			<button type="submit" pButton icon="pi pi-check" pTooltip="Save" [disabled]="!form.valid" label="Save" class="full-width"></button>
		</div>
	</p-footer>
</form>