<p-menubar [model]="items">
</p-menubar>
<div class="sub-inner-content">
	<router-outlet></router-outlet>
</div>

<!-- <p-card header="Renters">
	<app-renters (onViewInfo)="viewInfo($event)"></app-renters>
</p-card>-->